<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section>
        <div id="title">
            <h1>코로나 국내 현황 한눈에 보기</h1>
        </div>
    </section>

    <section>
        {% for k,v in corona_data.items() %}
            [{{k}}]:{{v}}명
        <div class="bar" value="{{v}}"></div>
        {% endfor %}
    </section>

    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>